/* 全局 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  color: #000;
  font-size: 16px;
}

/* 顶部 */
.header {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 88px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-fixed {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 88px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left {
  position: relative;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left .logo-box {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.header-left .logo {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.header-left .title-box {
  margin-left: 12px;
}

.header-left .title-box .title {
  font-weight: bold;
}

.header-left .title-box .title-remark {
  margin-top: 6px;
}

.header-left .tips {
  display: none;
  position: absolute;
  left: 0;
  top: 105%;
  padding: 18px 24px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  background-color: #000;
  border-radius: 8px;
}

.header-left:hover .tips {
  display: block;
}

@keyframes ani-nav-icon-hover {
  0% {
    top: 0;
  }

  30% {
    top: -4px;
  }

  100% {
    top: 0;
  }
}

.header-right {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header-right .nav {
  position: relative;
  width: 120px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .nav:not(:first-child) {
  margin-left: 12px;
}

.header-right .nav.nav-gift {
  margin-left: 0;
}

.header-right .nav:hover .nav-sub {
  display: block;
  box-sizing: border-box;
}

.header-right .nav-item {
  height: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-right .nav-item .title {
  width: 64px;
}

.header-right .nav-item:hover,
.header-right .nav-item.active {
  font-weight: bold;
}

.header-right .nav-item .nav-icon {
  position: relative;
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 20px;
}

.header-right .nav-item:hover .nav-icon {
  animation: ani-nav-icon-hover 0.5s ease 0s;
}

.header-right .nav-sub {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: -5px 5px 5px -4px rgba(0, 0, 0, 0.06), 5px 5px 5px -4px rgba(0, 0, 0, 0.06);
  transform: translateX(-50%);
  overflow: hidden;
}

.header-right .nav-sub>li {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.header-right .nav-sub>li:not(:first-child) {
  margin-top: 8px;
}

.header-right .nav-sub>li:hover {
  background-color: #F7F7F7;
}


.header-right .nav-sub.cover-notice {
  left: 50%;
  width: 248px;
  height: 176px;
  padding: 12px 18px;
  font-size: 14px;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.header-right .nav-sub.cover-notice p {
  line-height: 1.5;
  margin-top: 12px;
  text-indent: 28px;
}

.header-right .nav-sub.cover-wechat {
  left: 50%;
  width: 184px;
  height: 216px;
  padding: 12px 0;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  transform: translateX(-50%);
}

.header-right .nav-sub.cover-wechat .qrcode {
  margin: 12px auto;
  width: 130px;
  height: 130px;
}

.header-right .nav-sub.cover-wechat .gray {
  color: #808080;
}

/* 底部 */
.footer {
  margin-top: 32px;
  width: 100%;
  height: 108px;
  padding-top: 16px;
  border-top: 1px solid #eee;
  text-align: center;
  box-sizing: border-box;
}

.footer .footer-bottom {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  font-size: 12px;
  
}

.footer .footer-bottom .footer-bottom-item{
  margin: 0px 10px 0px 10px;
}

.footer .footer-bottom .notice {
  color: #828282;
}

.footer .footer-bottom .notice:hover{
  color: #2A82E4;
}


.footer .footer-bottom .footer-bottom-item:not(:first-child) {
  margin-left: 12px;
}

.footer .update-time {
  color: #828282;
  font-size: 12px;

}


.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #000; */
}

.container .main {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.container .aside-left,
.container .aside-right {
  position: relative;
  width: 240px;
  height: 100vh;
}

.container .ad {
  z-index: 1;
  position: fixed;
  top: 88px;
  width: 240px;

  height: 600px;
  overflow: hidden;
}

.gray {
  color: #828282;
}

.remark {
  font-size: 12px;
}

.over {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {

  .container .aside-left,
  .container .aside-right {
    display: none;
  }
}

/* fix 修复头部fixed后锚点定位不准 */
html {
  scroll-padding-top: 88px;
}